<% if @counts && @counts.length > 0 %>
	<h4 class="row text-center">Frequency of cards</h4>
	<table class="table">
		<thead>
			<th>Card</th>
			<th>Count</th>
		</thead>
		<tbody>
		  <% @counts.each do |count| %>
		  	<tr>
		  		<th>
		  			<%= count[0]%>
		  		</th>
		  		<th>
		  			<%= count[1] %>
		  		</th>
		  	</tr>
		  <% end %>
		</tbody>
	</table>
<% else %>
  <div class="row text-center"> No record found </div>
<% end %>
