$(".stats-result").html("")
var html = "<h4 class='row text-center'>Users with their profit</h4>"
<% @users_net_money_hash.each_pair do |k, v| %>
  html += "<div><%= k %> : $ <%= v.to_s %></div>"
<% end %>
$(".stats-result").html(html)
