$(".stats-result").html("")
var html = "<h4 class='row text-center'>User with most profit</h4>"
html += "<div class='row text-center'><%= @object.values[0] %> : $ <%= @object.keys[0].to_s %></div>"
$(".stats-result").html(html)
